.editor {
}

.editor h2 {
  font-size: 24px;
  color: var(--color-on-surface);
  font-weight: 500;
}

.credential-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
  margin: 1rem 0;
}

/* credential card */

.credential {
  background-color: var(--surface-light);
  width: 100%;
  border: 1px dashed var(--border-color);
  border-radius: 8px;
  padding: 0 1rem;
  height: max-content;
}

.credential .inner {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.credential .inner .text {
  font-size: 18px;
}

.credential .icon-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: var(--surface);
  border-radius: 50%;
  fill: var(--color-on-surface-light);
}

.credential .count {
  color: var(--color-on-surface-light);
}

.credential .icon-btn svg {
  width: 18px;
  fill: inherit;
}

.credential .icon-btn.rotate {
  transform: rotate(90deg);
}

.credential .icon-btn.reverse {
  transform: rotate(-90deg);
}

.credential .icon-btn.transparent {
  background-color: transparent;
}

.credential .icon-btn.danger {
  fill: var(--danger) !important;
}

.credential .icon-btn.primary-fill {
  fill: var(--primary);
}

.credential .inner input {
  width: 100%;
}

.credential .inner input:disabled {
  border-color: transparent;
  background-color: transparent;
}

.credential .inner div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.credential .inner-outline {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: var(--color-on-surface-light);
  cursor: pointer;
}

.credential .inner-outline:hover {
  opacity: 0.7;
}

.credential .inner-outline svg {
  fill: var(--color-on-surface-light);
}

/* dropdown */
.credential .card {
  display: grid;
  grid-template-columns: 1fr 2fr max-content;
  gap: 12px;
  align-items: center;
  background-color: var(--surface);
  height: 3rem;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.credential .card input {
  width: 100%;
  border: none !important;
}

.credential .card input:disabled {
  background-color: transparent;
}

.credential .card div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.credential .card.add-child {
  display: flex;
  justify-content: center;
  color: var(--color-on-surface-light);
  cursor: pointer;
}

.credential .card.add-child:hover {
  opacity: 0.7;
}

.credential .card.add-child svg {
  fill: var(--color-on-surface-light);
}

@media only screen and (max-width: 1000px) {
  .credential-holder {
    grid-template-columns: 100%;
    gap: 0.5rem;
  }
}
