:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input {
    font-size: large;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,
html {
    height: 100%;
    overflow: hidden;
}
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: self-start;
    height: 100vh;
}
.login {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 6px;
    margin-top: 20px;
}
input {
    padding: 6px;
    border: 1px solid #ccc;
    outline: none;
}
button.small {
    padding: 4px;
}
button.med {
    padding: 6px;
}
button.link {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.editor {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
    height: 100%;
}
.editor .header {
    display: flex;
    gap: 6px;
    align-items: center;
    min-height: 35px;
    padding: 4px;
}
.editor .header button {
    height: 100%;
}
.editor .header .edit {
    display: flex;
    align-items: center;
    gap: 4px;
}
.editor .header .space {
    flex: 1;
}
.editor .header label {
    color: #555;
}
.editor .header input {
    width: 16px;
    height: 16px;
}
.editor textarea {
    flex: 1;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
}

.saving {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-pass {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.loading-box{
    position: fixed;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.loading-box .loading {
    animation: spin 1s linear infinite;
    width: 46px;
    height: 46px;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}